<div class="row">
  <h1>Editing user</h1>
</div>
<%= render 'form' %>
<div class="row">
  <%= link_to 'Close without saving', @user, class: 'button info' %>
  <%= link_to 'Back to all users', users_path, class: 'button info' %>
</div>
